html{
    width: 100%;
    height: 100%;
}
body{
    cursor: none !important;
    background: #000 !important;
    width:100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
ul{
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
a{
    text-decoration: none !important;
}
.flex{
    display: flex;
}
.j-start{
    justify-content: flex-start;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
.j-between{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}
.a-center{
    align-items: center;
}
header{
    height: 100%;
}
header .container{
    height: 100%;
}
.under-construction{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.head{
    padding-top: 20px;
}
.header-logo{
    width: 110px;
    height: 110px;
}
.header-logo img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.head-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.logo .attract-hover-easing{
    width: 555.5px;
    height: 400px;
}
.logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logo img:hover{
    filter: grayscale(1);
}
.intro-gif{
    display: inline-block;
    margin: auto;
    height: 300px;
}
.intro-gif img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.intro-gif img:hover{
    filter: grayscale(1);
}
.intro-text{
    display: inline-block;
}
.intro-text h1{
    font-size: 4rem;
    line-height: 1.15;
    letter-spacing: -0.075rem;
    max-width: 14ch;
}
.social-links{
    padding: 34px 0 48px 0;
}
.link:nth-child(n+2){
    margin: 0 0 0 54px;
}
.link{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.cursor:hover .link i{
    color: #000 !important;
}
.link i{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
}
.tagline{
    color: #fff;
    font-weight: 600 !important;
    font-size: 26px;
    margin: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.location{
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.cursor{
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.1s;
    mix-blend-mode: difference;
}
@media (max-width:991px){
    .under-construction{
        position: relative;
        transform: none;
        margin: auto;
        top: 0;
        left: 0;
    }
    .logo .attract-hover-easing{
        width:auto;
    }
    .intro-text{
        width: 100%;
    }
    .intro-text img{
        width: 100%;
    }
    .tagline{
        padding: 15px 0 0 0;
    }
}
@media (max-width:768px){
    header .container{
        max-width: 90%;
    }
    .under-construction{
        padding-top: 90px;
    }
    .intro-text{
        margin-top: 0px;
    }
    .tagline{
        padding: 0;
        font-size: 24px;
    }
    .social-links{
        padding-top: 40px;
        padding-bottom: 30px;
        justify-content: center;
    }
    .link:nth-child(n+2){
        margin: 0 0 0 24px;
    }
    .cursor{
        display: none;
    }
}
@media (max-width:426px){
    .intro-gif{
        height: 280px;
    }
    .tagline{
        font-size: 20px;
        padding: 0;
    }
    .social-links{
        padding-bottom: 24px;
    }
    .link:nth-child(n+2){
        margin: 0 0 0 14px;
    }
    .location{
        font-size: 14px;
    }
}
@media (max-width:376px){
    .intro-text{
        margin-top: 0px;
    }
    .tagline{
        padding: 0;
    }
    .social-links{
        padding-top: 18px;
    }
    .link:nth-child(n+2){
        margin: 0 0 0 6px;
    }
}