html{
    width: 100%;
    height: 100%;
}
body{
    background: #d4bc8e !important;
    width:100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
ul{
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
a{
    text-decoration: none !important;
}
.flex{
    display: flex;
}
.j-start{
    justify-content: flex-start;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
.j-between{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}
.a-center{
    align-items: center;
}
header{
    height: 100%;
}
header .container{
    height: 100%;
}
.under-construction{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.head{
    padding-top: 20px;
}
.header-logo{
    width: 110px;
    height: 110px;
}
.header-logo img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.head-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.logo .attract-hover-easing{
    width: 555.5px;
    height: 400px;
}
.logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.intro-gif{
    height: 330px;
}
.intro-gif img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.intro-text{
    width: 555.5px;
}
.intro-text h1{
    font-size: 4rem;
    line-height: 1.15;
    letter-spacing: -0.075rem;
    max-width: 14ch;
}
.social-links{
    padding: 20px 0 0 0;
}
.link:nth-child(n+2){
    margin: 0 0 0 10px;
}
.link ion-icon{
    box-shadow: 0px 8px 24px rgb(166 166 166 / 15%);
    font-size: 34px;
    color: #fff;
}
.tagline{
    font-weight: 600 !important;
    font-size: 32px;
    padding: 20px 0 0px 0;
    margin: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width:991px){
    .under-construction{
        position: relative;
        transform: none;
        margin: auto;
        top: 0;
        left: 0;
    }
    .logo .attract-hover-easing{
        width:auto;
    }
    .intro-text{
        width: 100%;
    }
    .intro-text img{
        width: 100%;
    }
    .tagline{
        padding: 15px 0 0 0;
    }
}
@media (max-width:768px){
    .intro-text{
        margin-top: 0px;
    }
    .tagline{
        /* padding: 0; */
        font-size: 28px;
    }
}
@media (max-width:375px){
    .intro-text{
        margin-top: 0px;
    }
    .tagline{
        padding: 0;
    }
}